@font-face {
    font-family: "Calculator";
    src: url("font/Calculator.ttf");
}
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c2c2c2;
}

#calculatrice{
    width: 320px;
    height: 380px;
    margin: 150px auto 0 auto;
    background-color: #a8a8a8;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 3px 3px 4px rgba(49, 49, 49, 0.558);
}


#console{
    box-sizing: border-box;
    width: 95%;
    height: 80px;
    background-color: rgb(40, 40, 40);
    margin: 5px auto;
    overflow-x: auto;
    border-radius: 5px;
    font-family: Calculator, "sans-serif";
    font-weight: 500;
    font-style: normal;
    padding-left: 5px;
    padding-right: 5px;
}

#affichage-operation{
    width: 100%;
    height: 50%;
    white-space: nowrap;
}

#affichage-resultat{
    width: 100%;
    height: 50%;
    white-space: nowrap;
}

button{
    border-radius: 0;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    height: 90%;
    width: 90%;
    margin: auto auto;
    box-shadow: 2px 2px 3px rgba(49, 49, 49, 0.558);
}

button:hover{
    outline: 2px solid #c2c2c2;
}

#AC:hover, #delete:hover{
    outline: 2px solid lightslategray;
}

.operateur:hover{
    outline: 2px solid #2d5986;
}

#entrer-operation:hover{
    outline: 2px solid #4d5053;
}

#virgule, .nombre, #nombre-0{
    background-color: #c2c2c2;
} 

#touches{
    width: 97%;
    height: 280px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    
}

#affichage-resultat, #affichage-operation{
    color: #ff944d;
    text-align: start;
    font-size: 1.5em;
}

#AC{
    background-color: lightslategray;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#AC, .nombre, #nombre-0{
    font-weight: 700;
}

#soustraction{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#addition{
    grid-column: 4/ 5;
    grid-row: 3 / 4;
}

#entrer-operation{
    grid-column: 4 / 5;
    grid-row: 4 / 6;
    background-color: #4d5053;
    height: 95%;
}

#nombre-0 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    width: 95%;
}


.operateur{
    background-color: #2d5986;
}

#delete{
    background-color: lightslategray;
}

img{
    width: 20px;
    height: 20px;
 }
 
 #delete img{
    width: 30px;
    height: 30px;
 }
 